@import url("https://fonts.googleapis.com/css?family=Roboto");
.action-marker {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid white; }
  .action-marker:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    background-color: #C33325;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
  .action-marker:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #C33325;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }

@-webkit-keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
    transform: scale(0.33); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulse-ring {
  0% {
    -webkit-transform: scale(0.33);
    transform: scale(0.33); }
  80%, 100% {
    opacity: 0; } }

@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); } }

.app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

#map {
  height: 100%; }

.button {
  padding: 15px;
  background-color: #C33325;
  display: inline-block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #F0F1D5;
  cursor: pointer;
  margin-right: 20px; }

.score {
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: #C33325;
  padding: 10px;
  color: #F0F1D5;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

body {
  overflow-y: hidden; }

.sprinkhaan-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }
  .sprinkhaan-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; }
  .sprinkhaan-container .sprinkhaan-close-button {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0; }
    .sprinkhaan-container .sprinkhaan-close-button:before, .sprinkhaan-container .sprinkhaan-close-button:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      background-color: white;
      width: 16px;
      height: 2px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
    .sprinkhaan-container .sprinkhaan-close-button:before {
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
    .sprinkhaan-container .sprinkhaan-close-button:after {
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
  .sprinkhaan-container .sprinkhaan-inner {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0); }
    .sprinkhaan-container .sprinkhaan-inner::-webkit-scrollbar {
      display: none; }
  .sprinkhaan-container .sprinkhaan-media {
    width: 100%;
    background-color: black;
    -webkit-transform: translateY(9999px);
    -ms-transform: translateY(9999px);
    transform: translateY(9999px);
    left: 0;
    position: relative;
    pointer-events: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; }
    .sprinkhaan-container .sprinkhaan-media object,
    .sprinkhaan-container .sprinkhaan-media video,
    .sprinkhaan-container .sprinkhaan-media a,
    .sprinkhaan-container .sprinkhaan-media iframe,
    .sprinkhaan-container .sprinkhaan-media img {
      max-width: 100%;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: block;
      height: 100%;
      width: 100%; }
    .sprinkhaan-container .sprinkhaan-media[data-youtube]:after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 56.25%; }
    .sprinkhaan-container .sprinkhaan-media[data-youtube] iframe {
      position: absolute;
      top: 0;
      left: 0; }
  .sprinkhaan-container .sprinkhaan-content-wrapper {
    -webkit-transform: translateY(9999px);
    -ms-transform: translateY(9999px);
    transform: translateY(9999px);
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
  .sprinkhaan-container .sprinkhaan-header {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 15px 10px;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background-color: #C33325;
    color: white;
    -webkit-transition: padding .2s ease, -webkit-box-shadow .4s ease;
    transition: padding .2s ease, -webkit-box-shadow .4s ease;
    -o-transition: padding .2s ease, box-shadow .4s ease;
    transition: padding .2s ease, box-shadow .4s ease;
    transition: padding .2s ease, box-shadow .4s ease, -webkit-box-shadow .4s ease;
    position: absolute; }
    .sprinkhaan-container .sprinkhaan-header.is-sticky {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0);
      z-index: -1;
      opacity: 0; }
  .sprinkhaan-container .sprinkhaan-content {
    pointer-events: auto;
    background: #2b2b2b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 15px;
    position: relative; }

@media screen and (min-width: 680px) {
  .sprinkhaan-container {
    right: 40px;
    left: auto;
    max-width: 320px;
    bottom: 0;
    height: -webkit-calc(100% - 200px);
    height: calc(100% - 200px); }
    .sprinkhaan-container .sprinkhaan-header {
      -webkit-transition: -webkit-box-shadow .4s ease;
      transition: -webkit-box-shadow .4s ease;
      -o-transition: box-shadow .4s ease;
      transition: box-shadow .4s ease;
      transition: box-shadow .4s ease, -webkit-box-shadow .4s ease; } }

.sprinkhaan-container[data-state="expanded"] .sprinkhaan-inner {
  pointer-events: auto; }

.sprinkhaan-container[data-state="expanded"] .sprinkhaan-close-button {
  opacity: 1;
  z-index: 11;
  pointer-events: auto; }

.sprinkhaan-container[data-state="collapsed"] .sprinkhaan-header.is-not-sticky {
  cursor: pointer; }

.sprinkhaan-container[data-sticky-header="true"] .sprinkhaan-header.is-sticky {
  opacity: 1;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black; }

.sprinkhaan-container[data-sticky-header="true"] .sprinkhaan-header.is-not-sticky {
  opacity: 0;
  z-index: -1; }

.sprinkhaan-container[data-state="expanded"][data-animating="false"] .sprinkhaan-inner {
  overflow-y: scroll; }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif; }
